<h1> group new </h1>
<div class="row">
  <div class="row">
    <%= form_for(@group, url: admin_groups_path) do |f| %>
      <div class="input-field col s10 m8">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="col s10 m8">
        <%= f.submit "Submit", class: 'btn', disable_with: 'Submiting...' %>
      </div>
    <% end %>
  </div>
</div>
