  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Welocome Festimap</h1>
      <div class="row center">
        <h5 class="header col s12 light">イベントのマップを作って参加者を手助けしよう</h5>
      </div>
      <div class="row center">
        <%= link_to  "君がイベントのオーナーだ", new_admin_event_path, id: 'download-button', class: 'btn-large waves-effect waves-light teal lighten-1' %>
      </div>
      <br><br>
      <%= render partial: "admin/partial/event_card", locals: { events: @user.events } %>
    </div>
  </div>


